html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

section {
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  transition-duration: 500ms;
  text-align: center;
  box-sizing: border-box;
}

.horizonal {
  flex-direction: row;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 5vw;
}

h4 {
  font-size: 3vw;
  margin: 0;
}

.top_left {
  position: absolute;
  top: 5%;
  left: 5%;
}

p {
  font-size: 2vw;
}

li {
  text-align: left;
  font-size: 2vw;
}

img.full{
  width:90%;
  max-height: 100%;
}
img.full-h{
  height: 100%;
  max-width: 100%;
}
img.half {
  width: 50%;
  max-height:95%;
}

img.one_third {
  width: 33%;
  max-height:95%;
}

img.quarter {
  width: 25%;
  max-height:95%;
}

.align_left {
  width: 90%;
  text-align: left;
}

li, p {
  transition-duration: 300ms;
}

.action {
  opacity: 0;
}

.comment {
  position: absolute;
  left: 100%;
  width: 100%;
  overflow: hidden;
  animation-duration: 6s;
  animation-timing-function: linear;
  font-size: 6vw;
  color: #888;
  z-index: 160;
}

@keyframes shed {
  to {
    transform: translateX(-200vw);
  }
}

#permanent {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3vw;
  z-index: 160;
  margin: 10px;
}
#timer{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 3vw;
  z-index: 160;
  margin: 10px;
}
.above{
  position: absolute;
  /*
  width: 90%;
  height: 90%;
  margin: 5%;
  */
  top:0;
  left:0;
  transform: translateY(-110%);
  transition-duration: 500ms;
  z-index:155;
}

.max-h {
  height: 100vh;
}

.max-w {
  width: 100vw;
}

.nonflex{
  display: block;
}