@import 'variables';
#editor {
  left:$summary-width;
  width:100% - $summary-width - $sidebar-width;
  section{
    transform-origin: 0 0;
    transform: scale($editor-scale);
    margin-left:(100% - $sidebar-width - $summary-width - 100%*$editor-scale)/2*(100%/(100% - $sidebar-width - $summary-width));
    margin-top:12%;
  }
}